@media all and (max-width: 750px) {
  .deck {
    width: 95%;
  }
  .deck .card {
    height: 80px;
    width: 22%;
  }
  .score-panel {
    width: 320px;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  #playAgain {
    font-size: .75rem;
  }
  }

@media all and (min-width: 750px) {
  .container h1 {
    font-size: 3.5rem; }
  .score-panel {
    font-size: 2rem; }

  .deck {
    width: 650px;
    min-height: 680px;
   }
