body {
    text-align: center;
    font-family: 'Open Sans'; sans-serif;
    font-weight: 300;
}

h1 {
  color: #C00;
}

.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
 }

.start-modal {
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  position: absolute;
  transition: all 1s ease-in-out;
  font-family: "Open Sans", sans-serif;
  top: 100px;
  left: 0;
  right: 0;
}

button {
  background-color: #C00;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
}

.hide {
  visibility: hidden;
  opacity: 0 !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.gameend, .winner-modal {
  margin: 0 auto;
  padding: 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  position: absolute;
  transition: all 1s ease-in-out;
  font-family: "Open Sans", sans-serif;
  top: 100px;
  left: 0;
  right: 0;
  visibility: hidden;
}
